<% form_name ||= "Manage" %>
<h1 class="text-center">  <%= form_name %> Dish </h1>
<!--<div id="notebook-errors-messages" style="display:none;"></div>-->
<%= form_for @dish , method: (form_name.downcase == 'edit' ? 'put' : 'post') do |fc| %>

    <% if @dish.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@dish.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @dish.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= fc.label :restaurant_id %>
    <%= fc.text_field :restaurant_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= fc.label :name %>
    <%= fc.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= fc.label :avatar %>
    <%= fc.file_field :avatar, class: "form-control" %>
  </div>



  <%= fc.submit "#{form_name} dish", class: "btn btn-primary" %>

<% end %>
