<div class="container">
  <h1 class="text-center"> Dish </h1>
  <% if current_user %>
    <section class="row text-center cities-controls" id="notebook-actions">
        <a href="<%= new_keyword_path %>" class="btn btn-default" data-remote="true"> New Dish </a>
    </section>
  <% end %>
  <% @dish.each do |f| %>
    <article class="">
      <ul class="table-results">
        <div class="results-row">
          <li class="results-cell results-aling result-title"><%= f.restaurant.name %></li>
          <li class="results-cell results-aling result-title"><%= f.name %></li>
          <img src="<%= f.avatar %>" width="120" alt="product">
        </div>

            <li class="results-cell"><a href="<%= dish_path(f.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
            <li class="results-cell"><a href="<%= edit_dish_path(f.id) %>" class="btn btn-primary"> Edit </a></li>
            <li class="results-cell"><a href="<%= dish_path(f.id) %>" class="btn btn-info" > Show </a></li>
        </div>

      </ul>
    </article>
  <% end if @dish.any? %>
</div>
