<div class="container">
  <h1 class="text-center"> Dish </h1>

    <section class="row text-center cities-controls" id="notebook-actions">
        <a href="<%= new_dish_path %>" class="btn btn-default" > New Dish </a>
    </section>

    <% @dish.each do |f| %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= f.restaurant.name %>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></h3>
        </div>
        <div class="panel-body" style="height: 344px">
          <div class="text-center"><h4><li class="list-unstyled"><%= f.name %></li></h4></div>
          <li class="list-unstyled"><img src="<%= f.avatar %>" class="img_dish" alt="product"></li>
          <div class="menu_dish text-center">
            <a href="<%= dish_path(f.id) %>" data-method="delete" class="btn btn-danger"> Delete </a>
            <a href="<%= edit_dish_path(f.id) %>" class="btn btn-primary"> Edit </a>
            <a href="<%= dish_path(f.id) %>" class="btn btn-info" > Show </a>
          </div>
        </div>
      </div>
    </div>
    <% end if @dish.any? %>

  </div>
