<div class="container">
  <h1 class="text-center"> Keywords </h1>
  <% if current_user %>
    <section class="row text-center cities-controls" id="notebook-actions">
        <a href="<%= new_keyword_path %>" class="btn btn-default" > New Keywords </a>
    </section>
  <% end %>
  <% @keyword.each do |f| %>
    <article class="">
      <ul class="table-results">
        <table class="table table-striped">


    
          <td class="results-cell results-aling result-title list-unstyled"><%= f.name %></td>

            <td class="results-cell list-unstyled"><a href="<%= keyword_path(f.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></td>
            <td class="results-cell list-unstyled"><a href="<%= edit_keyword_path(f.id) %>" class="btn btn-primary"> Edit </a></td>
            <td class="results-cell list-unstyled"><a href="<%= keyword_path(f.id) %>" class="btn btn-info" > Show </a></td>
        </div>
        </table>

      </ul>
    </article>
  <% end if @keyword.any? %>
</div>
