<!DOCTYPE html>
<html>
<head>
  <title>LunchTime!!</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBElfba4JgUAu78FJ9Tyxhq-sXwvz9H8mo&callback=initMap"  defer></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :javascript_includes%>
</head>


<header class="container-head">
  <div class="">
    <img src="https://s30.postimg.org/4tljbcmvl/logo2.png" alt="Logo_pagina">
  </div>
  <nav class="menu-nav">
    <a class="navbar-brand logo-link" href="<%= root_path %>"><span class="glyphicon glyphicon-home"></span> Home</a>
    <% if current_user %>
    <span class="navbar-brand logo-link"> User: <%= current_user.email %> </span>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <% if !current_user %>
      <li><a href="<%= new_client_session_path %>" class="menu-option"><span class="glyphicon glyphicon-user"></span> Log in</a></li>
      <li><a href="<%= new_client_registration_path %>" class="menu-option"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
      <% else %>
      <li><a href="<%= new_restaurant_path %>" class="menu-option"><span class="glyphicon glyphicon-chevron-right"></span> Restaurant </a></li>
      <li><a href="<%= new_dish_path %>" class="menu-option"><span class="glyphicon glyphicon-chevron-right"></span> Dishes </a></li>
      <li><a href="<%= dishes_path %>" class="menu-option"><span class="glyphicon glyphicon-chevron-right"></span> Index Dishes </a></li>
      <li ><a href="<%= destroy_client_session_path %>" class="menu-option" data-method="delete">Log out</a></li>
      <% end %>
    </ul>
  </div>
</nav>

</header>


<div class="container-main">
  <% if flash[:success] or flash[:error] or flash[:notice]%>
  <span class="flash-message <%= flash[:success] ? 'success alert glyphicon glyphicon-ok-circle' : flash[:error] ? 'error alert glyphicon glyphicon-remove-circle' : flash[:notice] ? 'notice alert glyphicon glyphicon-info-sign' : '' %>">
    <%= flash[:success] ? flash[:success] : flash[:error] ? flash[:error] : flash[:notice] ? flash[:notice] : '' %>
  </span>
  <% end %>
</div>

<%= yield %>

</body>
</html>
