<!DOCTYPE html>
<html>
<head>
  <title>Corrientazo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBElfba4JgUAu78FJ9Tyxhq-sXwvz9H8mo&callback=initMap"  defer></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<header class="container-head">
      <h1 class="headline">ELECTRIC LUNCH</h1>
      <nav class="menu-nav">
        <a class="navbar-brand logo-link" href="<%= root_path %>">Corrientazo </a>
        <% if current_user %>
        <span class="navbar-brand logo-link"> User: <%= current_user.email %> </span>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if !current_user %>
          <li><a href="<%= new_client_session_path %>" class="menu-option">Log in</a></li>
          <li><a href="<%= new_client_registration_path %>" class="menu-option">Sign up</a></li>
          <% else %>
          <li ><a href="<%= destroy_client_session_path %>" class="menu-option" data-method="delete">Log out</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

<p></p>
<p></p>
<p></p>

<%= yield %>
</body>
</html>
